<!-- <ion-header>
  <ion-toolbar>
    <ion-title text-center>Sales</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-grid>
    <ion-row>
      <ion-col> -->
    <div [formGroup]="productsForm" >
      <h3 style="font-weight: bold;color: purple;">Item Selection</h3>
    <ion-item  lines="none">
      <label  position="floating">Item</label>  
      <select style=" max-width: 50%; border-radius: 25px" (change)="getItem($event)"><option *ngFor= "let category of productCategory">{{category}}</option></select>
      <p>{{passeditem}}</p>
    </ion-item >
    <ion-item  lines="none">
      <ion-label position="floating">Category</ion-label>
      <ion-input disabled="true" type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-item style="background-color:blue; border-radius: 25px">
      <ion-label position="floating">Prices</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>
    <ion-item style="background-color:blue; border-radius: 25px">
      <ion-label position="floating">Units</ion-label>
      <ion-input type="number" formControlName="units"></ion-input>
    </ion-item>
    <!-- <ion-item style="background-color:blue; border-radius: 25px">
      <ion-label position="floating">Total</ion-label>
      <ion-input type="number" formControlName="amount"></ion-input>
    </ion-item> -->
    <ion-item style="background-color:blue; border-radius: 25px">
      <ion-label position="floating">Sizes</ion-label>
      <ion-input type="text" formControlName="sizes"></ion-input>
    </ion-item>
    <ion-item style="background-color:blue; border-radius: 25px">
      <ion-label position="floating">DbCount</ion-label>
      <ion-input type="number" formControlName="count"></ion-input>
    </ion-item>
    <ion-item  lines="none">
      <ion-button color="primary" (click)="presentLoadingWithOptions()" (click)="uploadnow()"   type="button" style="color: #fff; border-radius: 25px" (click)="updateStock()"size="default">Add Item</ion-button>
    </ion-item>
  
  </div>
  <!-- </ion-col> -->
<!-- </ion-row>
</ion-grid> --> 
<h3 style="font-weight: bold;color: purple;">Customer Details</h3>
  <div class="omega">
   
    <form [formGroup]="productsForm" (ngSubmit)="uploadnow()" enctype="multipart/form-data" style="background-color: lightgreen;">
    <ion-list> 
    <ion-item style="background-color:blue; border-radius: 25px">
    <ion-label  position="floating">Name</ion-label>
    <ion-input style="max-width: 50%" type="text" formControlName="customer"></ion-input>
  </ion-item>
  <ion-item style="background-color:blue; border-radius: 25px">
    <ion-label position="floating">Number</ion-label>
    <ion-input type="number" formControlName="number"></ion-input>
  </ion-item >
  <ion-item style="background-color:blue; border-radius: 25px">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" formControlName="email"></ion-input>
  </ion-item>
    <p *ngFor="let sale of itemArray"><b>{{sale.item_name}} Kes</b> {{sale.price}} {{sale.units}}</p>
  <ion-item lines="none">
    <ion-label position="floating">Grand Total</ion-label>
    <ion-input disabled="true" type="number" formControlName="amount2"></ion-input>
  </ion-item>

  <!-- <ion-item >
    <label position="floating"></label>
    <input type="file" (change)="onFileSelected($event)" />
  </ion-item> -->
  <ion-item lines="none">
    <ion-button color="primary" [disabled]="!productsForm.valid" (click)="showAlert()" type="button" style="color: #fff"size="default">Add Sale</ion-button>
    <ion-button color="danger" type="button" routerLink= "/tabs/tab2" style="color: #fff"size="default">Back</ion-button>
  </ion-item>
</ion-list>
  </form>
</div>
</ion-content>
