ion-content ion-toolbar {
  --background: translucent;
}
.cell-class {
  border-color: black; 
  // border-width: .01em; 
  // border-style:solid; 
   margin-bottom : 10%;

}
.bg-image{
  background-image: url("/assets/wall_back.jpg");
}