<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Communications</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid style="background-color: blanchedalmond;">
    <ion-row>
      <img src="/assets/PreetiLogo.png" style="height:100px; width: 100px; margin-left: 40%" />
    </ion-row>
    <ion-row >
      <ion-col class="cell-class" size-sm="6" size-md="6" size-lg="6" style="margin-top: 5%;">
        <ion-icon style="font-size: 50px; color: green" tappable name="chatbox-outline"  routerLink="/tabs/tab1"></ion-icon>
        <ion-label style="font-family: Open Sans; color:#000">Items List</ion-label>
      </ion-col>
      <ion-col class="cell-class" size-sm="6" size-md="6" size-lg="6" style="margin-top: 5%;">
        <ion-icon style="font-size: 50px;  color:green" tappable name="camera" routerLink="/products-upload"></ion-icon>
        <ion-label style="font-family: Open Sans; color:#000">Products Upload</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="cell-class" size-sm="6" size-md="6" size-lg="6">
        <ion-icon style="font-size: 50px; color: green" tappable name="basket-outline"  routerLink="/products-upload"></ion-icon>
        <ion-label style="font-family: Open Sans; color:#000">Bookings Archive</ion-label>
      </ion-col>
      <ion-col  class="cell-class" size-sm="6" size-md="6" size-lg="6">
        <ion-icon style="font-size: 50px;  color:green" tappable name="wallet-outline"  routerLink="/tabs/tab3"></ion-icon>
        <ion-label style="font-family: Open Sans; color:#000">Orders List</ion-label>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  
 <button (click)="sendtexts()">Send texts</button>
</ion-content>
