<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Communications</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <img src="/assets/PreetiLogo.png" style="height:140px; width: 140px; margin-left: 40%" />
      <!-- <h2 text center style="font-family: Open Sans;">App Center</h2> -->
    </ion-row>
    <ion-row >
      <ion-col class="cell-class" size-sm="6" size-md="6" size-lg="6" style="margin-top: 5%;">
        <ion-icon style="font-size: 50px; color: pink" tappable name="chatbox-outline"  routerLink="/tabs/tab1"></ion-icon>
        <ion-label style="font-family: Open Sans; color:#000; font-weight: bold">Items List</ion-label>
      </ion-col>
      <ion-col class="cell-class" size-sm="6" size-md="6" size-lg="6" style="margin-top: 5%;">
        <ion-icon style="font-size: 50px;  color:blue" tappable name="camera" routerLink="/products-upload"></ion-icon>
        <ion-label style="font-family: Open Sans; color:#000; font-weight: bold">Products Upload</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="cell-class" size-sm="6" size-md="6" size-lg="6">
        <ion-icon style="font-size: 50px; color: yellow" tappable name="wallet-outline"  routerLink="/tabs/tab3"></ion-icon>
        <ion-label style="font-family: Open Sans; color:#000; font-weight: bold">All Orders</ion-label>
      </ion-col>
      <ion-col  class="cell-class" size-sm="6" size-md="6" size-lg="6">
        <ion-icon style="font-size: 50px;  color:green" tappable name="basket-outline"  routerLink="/new-orders"></ion-icon>
        <ion-label  routerLink="/new-orders" style="font-family: Open Sans; color:#000; font-weight: bold">New Orders <ion-badge color="success" >{{news}}</ion-badge></ion-label>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
