<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Communications</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid >
    <ion-row style="margin-left:25%;">
      <ion-col class="cell-class" size-sm="6" size-md="6" size-lg="6" style="margin-top: 10%;">
        <ion-icon style="font-size: 50px; color: green" name="chatbox-outline"></ion-icon>
        <ion-label style="font-family: Open Sans; color:blueviolet">Send texts</ion-label>
      </ion-col>
      <ion-col class="cell-class" size-sm="6" size-md="6" size-lg="6" style="margin-top: 10%;">
        <ion-icon style="font-size: 50px;  color:green" name="paper-plane-outline"></ion-icon>
        <ion-label style="font-family: Open Sans; color:blueviolet">User Feedback</ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left:25%;">
      <ion-col class="cell-class" size-sm="6" size-md="6" size-lg="6">
        <ion-icon style="font-size: 50px; color: green" name="basket-outline"></ion-icon>
        <ion-label style="font-family: Open Sans; color:blueviolet">Bookings Archive</ion-label>
      </ion-col>
      <ion-col  class="cell-class" size-sm="6" size-md="6" size-lg="6">
        <ion-icon style="font-size: 50px;  color:green" name="wallet-outline"></ion-icon>
        <ion-label style="font-family: Open Sans; color:blueviolet">Orders</ion-label>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  
 <button routerLink="/products-upload">Send texts</button>
</ion-content>
