ion-content ion-toolbar {
  --background: translucent;
}
.styling{
  font-family: Open Sans;
}
.align-logo{
  margin-left: auto;
  margin-right: auto;
}
.bg-image{
  background-color: blanchedalmond;
}