
<ion-content >

  <div class="bg-image">
  <img src="/assets/PreetiLogo.png" style="height:100px; width: 100px; margin-left: 40%" />
  <h2 text center style="font-family: Open Sans; margin-left: 40%">Products List</h2>
</div>
  <h3 [hidden]="images.length !== 0" text-center>No Images found!</h3>
 
  <ion-list>
    <ion-item-sliding *ngFor="let img of images">
 
      <ion-item tappable (click)="openImage(img)" lines="none">
        <ion-thumbnail item-start>
          <img [src]="img.url">
        </ion-thumbnail>
        <p class="styling"><span style="font-weight:bold">{{ img.description }}</span><br>
        {{img.category}}<br>
        <span style="color: lightgreen;">KES {{img.price}}</span></p>

        <button ion-button clear icon-only item-end> <ion-icon name="arrow-forward"></ion-icon></button>
      </ion-item>
 
      <ion-item-options slot="end">
        <button ion-button icon-only color="danger" (click)="deleteImage(img)">
        <ion-icon name="cancel"></ion-icon>
      </button>
      </ion-item-options>
 
    </ion-item-sliding>
  </ion-list>
 
  <ion-fab right bottom>
    <button ion-fab (click)="presentActionSheet()"><ion-icon name="camera"></ion-icon></button>
  </ion-fab>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
 </ion-content>