<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Orders
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Orders Page</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-card>
      <ion-card-header style="font-weight: bold;color: #000"><ion-icon name="flame"></ion-icon> Order Date | Status | View </ion-card-header>
      <ion-card-content>
  <ion-item-sliding  *ngFor="let account of parsedAccount">
   <ion-item lines="none" style="font-family: Open Sans;" >
    <ion-row>
    <ion-col>
        <p style="max-width: 4.2em;"> {{account.buying_date | date }}</p>
    </ion-col>
     <ion-col>
        <p style="font-family: Open Sans;"><span style="color: #000; font-weight: bold"><i> KES {{account.amount}}</i></span></p>
     </ion-col>
     <ion-col>
        <ion-button color="success"  expand="full" fill="clear" (click)="confirmviewed(account._id)"[routerLink]="['/orderview', account._id]">VIEW</ion-button>
     </ion-col>
    </ion-row>
    </ion-item>
</ion-item-sliding>
 
 </ion-card-content>
 </ion-card>
  </ion-list>
</ion-content>
