<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header style="font-weight: bold;color: #000"><ion-icon name="flame"></ion-icon> Order Date | Status | View </ion-card-header>
      <ion-card-content>
  <ion-item-sliding  *ngFor="let account of filteredParsedAccount">
   <ion-item lines="none" style="font-family: Open Sans;" >
    <ion-row>
      <ion-col>
          <p style="max-width: 4.2em;"> {{account.buying_date | date }}</p>
      </ion-col>
      <ion-col>
          <p style="font-family: Open Sans; font-weight: bold" >KES {{account.amount}}</p>
      </ion-col>
      <ion-col>
          <ion-button color="success" fill="clear" size="small" (click)="confirmviewed(account._id)"[routerLink]="['/orderview', account._id]"> VIEW</ion-button>
      </ion-col>
    </ion-row>
     <!-- <p style="font-family: Open Sans;" ><a href="{{account.url}}" target="_blank">{{account.url}}</a></p> -->
     
 </ion-item>
</ion-item-sliding>
 
 </ion-card-content>
 </ion-card>
  </ion-list>
</ion-content>
