
<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header style="font-weight: bold;color: #000"><ion-icon name="flame"></ion-icon> Order Date | Status | View </ion-card-header>
      <ion-card-content>
  <ion-item-sliding  *ngFor="let account of filteredParsedAccount">
   <ion-item lines="none" style="font-family: Open Sans;" >
     <p style="max-width: 4.2em;margin-right: 10%;"> {{account.buying_date | date }}</p>
     <p style="font-family: Open Sans;margin-right: 15%;"><span style="color: blue"><i> *New Order</i></span></p>
     <p style="font-family: Open Sans;margin-left: 20%; font-weight: bold" >KES {{account.amount}}</p>
     <!-- <p style="font-family: Open Sans;" ><a href="{{account.url}}" target="_blank">{{account.url}}</a></p> -->
     <ion-button
     fill="outline" slot="end" size="small" (click)="confirmviewed(account._id)"[routerLink]="['/orderview', account._id]">
     <ion-icon name="eye" slot="start" ></ion-icon> VIEW</ion-button>
 </ion-item>
</ion-item-sliding>
 
 </ion-card-content>
 </ion-card>
  </ion-list>
</ion-content>
