<!-- <ion-header>
  <ion-toolbar>
    <ion-title>products-upload</ion-title>
  </ion-toolbar>
</ion-header>-->
<ion-content > 
  <div class="bg-image">
  <ion-grid style="background-color: blanchedalmond;" > 
    <ion-row>
    <ion-col size-sm="12" size-md="12" size-lg="12" style="background: #fff; color: grey;width: 80%;">
      <!-- <ion-col size-sm="2" tappable routerLink="/menu/home" style="color: #000;font-weight: bold;"></ion-col> -->
      <ion-col size-sm="2" tappable routerLink="/tabs/tab1"style="color: #000;font-weight: bold;">Products List </ion-col>
      <ion-col size-sm="2"tappable routerLink="/tabs/tab2" style="color: #000;font-weight: bold;">App Center </ion-col>
      <ion-col size-sm="2" tappable routerLink="/tabs/tab3" style="color: #000; font-weight: bold;">Orders </ion-col> 
      <!-- <ion-col size-sm="2" tappable routerLink="/menu/contact" style="color: #000; font-weight: bold;">Contact Us </ion-col> -->
      <!-- <ion-col size-sm="4"><ion-icon name="call"></ion-icon>Call us 0719000112</ion-col> -->
    </ion-col>
  </ion-row>
    </ion-grid>
    <div class="align-form">
      <!-- <h1 text-center style="font-family: Open Sans ;background-color: blanchedalmond;">Preeti Fashions<br></h1> -->
      <img src="/assets/PreetiLogo.png" style="height:100px; width: 100px;" />
      <h2 text-center style="font-size: 13pt">Product Catalogue</h2>
  <form [formGroup]="productsForm" (ngSubmit)="uploadnow()" enctype="multipart/form-data" style="background-color: blanchedalmond;">
    <ion-list lines="none"> 
    <ion-item >
    <label position="floating">Description</label>
    <input type="text" formControlName="description"/>
  </ion-item>
  <ion-item >
    <label position="floating">Category</label>  
    <select (change)="getCategory($event)"><option *ngFor= "let category of productCategory">{{category}}</option></select>
    <p>{{passedCategory}}</p>
  </ion-item >
  <ion-item >
    <label position="floating">Price</label>
    <input type="number" formControlName="price"/>
  </ion-item >
  <ion-item>
    <label position="floating">Count</label>
    <input type="number" formControlName="count"/>
  </ion-item>
  <ion-item>
    <label position="floating">Amount</label>
    <input type="number" formControlName="amount"/>
  </ion-item>
  <ion-item >
    <label position="floating"></label>
    <input type="file" (change)="onFileSelected($event)" />
  </ion-item>
  <ion-item >
    <ion-button color="danger"  (click)="uploadnow()" type="button" style="color: #fff"size="default">Upload now</ion-button>
  </ion-item>
</ion-list>
  </form>
</div>
</div>

   <!-- <form action="uploadnow()" enctype="multipart/form-data" method="POST">  
    <input type="file" name="photo" />
    <input type="submit" value="Upload Photo"/>
    <ion-button fill="outline"  (click)="onReply()" type="button" style="color: white"size="default">Submit</ion-button>
 </form> -->
</ion-content>
